<!DOCTYPE html>
<html>
  <head>
    <title>Vocabulary AI - Words</title>
  </head>
  <body>
    {% for word in words %}
      <h1>{{ word['Word'] }} ({{ word['Type'] }})</h1>
      <button onclick="window.location.reload()">Next</button>
      <br>
      <br>
      <h3>Pronunciation:</h3>
      <p>{{ word['Pronunciation'] }}</p>
      <br>
      <h3>Definition:</h3>
      <p>{{ word['Definition'] }}</p>
      <br>
      <h3>Sentence:</h3>
      <p>{{ word['Sentence'] }}</p>
      <br>
      <h3>Synonyms:</h3>
      <p>{{ word['Synonyms'] }}</p>
      <hr>
    {% endfor %}
  </body>
</html>

