<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vocabulary - Vocabulary {{ word_index + 1 }}</title>
    <script>
        function toggleDetails() {
            const wordDetails = document.getElementById("word-details");
            const nextButton = document.getElementById("next-button");

            if (wordDetails.style.display === "none") {
                wordDetails.style.display = "block";
                nextButton.innerText = "Next Word";
            } else {
                document.getElementById("next-form").submit();
            }
        }

        function handleKeyPress(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                toggleDetails();
            }
        }
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <style>
        strong {
            font-weight: bold;
        }
    </style>
</head>
<body onkeypress="handleKeyPress(event)">
    <h1><span style="font-size: 16px">({{word_index + 1}}/{{word_count}})</span> {{ word.Word }} ({{ word.Type }}) </h1>
    <div id="word-details" style="display:none;">
        <p><strong>Pronunciation:</strong> {{ word.Pronunciation }}</p>
        <p><strong>Definition:</strong> {{ word.Definition }}</p>
        <p><strong>Synonyms:</strong> {{ word.Synonyms }}</p>
        <p><strong>Sentence:</strong> {{ word.Sentence }}</p>
    </div>
    <form id="next-form" method="POST" style="display:inline;"></form>
    <button id="next-button" onclick="toggleDetails()">Next</button>
</body>
</html>

